<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/app.css")
        title TypeScript URL Shortener
    body
        main(class="masthead")
                div(class="row")
                    div(class="col-md-12 align-self-center concenter")
                        
                        
                        div(class="jumbotron my-jumbotron")

                            div(class="row justify-content-center")
                                div(class="column")
                                    img(src="/img/urlight_logo_green.png" class="logo" alt="URL shortener")
                                div(class="column")
                                    h1(class="text-center title") urlight


                            div(class="form-inline justify-content-center play-container")
                                h4(class="sub-title") Paste the URL to be shortened
                                div(class="form-group mx-sm-3 mb-2 my-form")
                                    input.form-control(type="text", size="55", id="url", role="url", aria-label="Short URL", placeholder="Enter URL")
                                button(class="btn btn-short mb-2", id="btn-short", role="button", aria-label="Short URL Button") Short URL

                                div(class="col-md-12 url-jumbotron")
                                    div(class="alert alert-danger custom-alert-danger align-self-center invisible mt-3 concenter", id="url-alert" role="alert")
                                        span(id="url-alert-text") URL shorthened

                    

        script(src="js/app.js")